.no-link-style {
  text-decoration: none;
  color: var(--color-indigo-dye);
  transition: color 0.2s ease-in-out;
}

.no-link-style:hover {
  color: var(--color-blue-munsell);
}

.text-link-special {
  color: var(--color-blue-munsell) !important;
  font-weight: 500;
  text-decoration: none;
}

.text-link-special:hover {
  color: var(--color-indigo-dye) !important;
}