<div class="card">
    <div class="card-header card-header-indigo">
        <h2 class="mb-0">Lista de Grupos</h2>
    </div>
    <div class="card-body">
        <p class="text-muted mb-3">
            Lista de grupos a los que está asignado el estudiante. Selecciona un grupo para ver sus historias.
        </p>

        <div class="mb-4 mt-2">
            <input type="text" class="input-txt input-filter"
                placeholder="Filtrar grupos por nombre, curso o docente..." [(ngModel)]="searchText" />
        </div>

        <div class="table-container table-responsive">
            <table class="table custom-full-bordered-table">
                <thead class="table-header-gray">
                    <tr>
                        <th scope="col">Nombre del Grupo</th>
                        <th scope="col">Docente</th>
                        <th scope="col">Curso</th>
                        <th class="text-center" scope="col">Ver curso</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of filteredGroups; track item.id) {
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.teacher?.name }} {{ item.teacher?.lastname }}</td>
                        <td>{{ item.course?.title }}</td>
                        <td class="text-center">
                            <button (click)="groupClick.emit(item.id!)" class="btn btn-view border-0 icon-gray-color"
                                type="button" title="Ver historias del grupo" style="cursor: pointer;">
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="4">
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <p class="mb-0">No hay grupos asignados</p>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>