<div class="row p-4">
  <div class="col-12 mb-3">
    <h2 class="title-highlight">Medallas</h2>
  </div>

  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <button (click)="goBack()" class="btn custom-add-full-btn">
        <i class="fas fa-arrow-left me-2"></i> Volver
      </button>
      <button (click)="openAddBadgeModal()" class="btn custom-add-full-btn">
        <i class="fas fa-plus me-2"></i> Agregar
      </button>
    </div>
  </div>

  <div class="col-12 mt-3">
    <div class="card">
      <div class="card-body">
        <app-badge-list
          [badges]="badgeService.badges$()"
          (callModalAction)="openEditBadgeModal($event)"
          (callDeleteAction)="deleteBadge($event)"
        >
        </app-badge-list>
        @if (badgeService.badges$()) {
        <app-pagination
          [service]="badgeService.search"
          [loadFunction]="badgeService.getAll.bind(badgeService)"
        >
        </app-pagination>
        }
      </div>
    </div>
  </div>
</div>

<ng-template #addBadgeModal>
  <app-modal [hideFooter]="true">
    <app-badge-form
      [form]="form"
      [isEditMode]="false"
      (callSaveMethod)="handleAddBadge($event)"
    >
    </app-badge-form>
  </app-modal>
</ng-template>

<ng-template #editBadgeModal>
  <app-modal [hideFooter]="true">
    <app-badge-form
      [form]="form"
      [isEditMode]="true"
      (callSaveMethod)="confirmEdit($event)"
    >
    </app-badge-form>
  </app-modal>
</ng-template>

<ng-template #editConfirmationModal>
  <app-modal [hideFooter]="true">
    <div class="text-center p-4">
      <h2>Confirmación</h2>
      <p>
        ¿Está seguro que desea modificar la insignia
        <strong>{{ pendingEditItem?.title }}</strong
        >?
      </p>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-secondary me-2" (click)="cancelEdit()">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="confirmEditFinal()">
          Sí, modificar
        </button>
      </div>
    </div>
  </app-modal>
</ng-template>
