<div class="row p-4">
    <div class="col-12 mb-3">
        <h2 class="title-highlight">Grupos de la Escuela {{schoolName || 'Cargando...' }}</h2>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <button (click)="goBack()" type="button" class="btn custom-add-full-btn">
                <i class="fas fa-arrow-left me-2"></i> Volver
            </button>
            <button (click)="openAddGroupModal()" type="button" class="btn custom-add-full-btn">
                <i class="fas fa-plus me-2"></i> Agregar
            </button>
        </div>
    </div>

    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-body">
                <app-groups-list
                        [groups]="groupsService.groups$()"
                        (callModalAction)="openEditGroupModal($event)"
                        (callDeleteAction)="deleteGroup($event)">
                </app-groups-list>

                @if (groupsService.groups$().length) {
                    <app-pagination [service]="groupsService"></app-pagination>
                }
            </div>
        </div>
    </div>
</div>

<ng-template #addGroupModal>
    <app-modal [hideFooter]="true">
        <app-groups-form
                [form]="groupForm"
                (callSaveMethod)="handleAddGroup($event)">
        </app-groups-form>
    </app-modal>
</ng-template>

<ng-template #editGroupModal>
    <app-modal [hideFooter]="true">
        <app-groups-form
                [form]="groupForm"
                (callUpdateMethod)="confirmEdit($event)">
        </app-groups-form>
    </app-modal>
</ng-template>

<ng-template #editConfirmationModal>
    <app-modal [hideFooter]="true">
        <div class="text-center p-4">
            <h2>Confirmación</h2>
            <p>¿Está seguro que desea modificar el grupo?</p>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-secondary me-2" (click)="cancelEdit()">Cancelar</button>
                <button class="btn btn-primary" (click)="confirmEditFinal()">Sí, modificar</button>
            </div>
        </div>
    </app-modal>
</ng-template>

