<div class="row p-4">
  <div class="col-12 mb-4">
    <h2 class="title-highlight">Mis Notas</h2>
  </div>

  <div class="col-12 mb-4">
    <div class="card shadow-sm rounded-4">
      <h4 class="mb-0 title-highlight">Mis Grupos</h4>
      <div class="notes-group-list">
        <ng-container *ngFor="let group of groupList">
          <button
            class="btn custom-add-full-btn-2 mb-2"
            [class.active]="selectedGroupId === group.id"
            (click)="onGroupClick(group.id)">
            {{ group.name }} - {{ group.course?.title }}
          </button>
        </ng-container>
      </div>
    </div>
    <div class="col-12" *ngIf="selectedGroupId">
      <div class="card shadow-sm rounded-4">
        <div class="card-body">
        
          <div class="notes-list">
            <div *ngIf="notes.length > 0">
              <table class="table custom-full-bordered-table">
                <thead>
                  <tr>
                    <th>Nombre del Quiz</th>
                    <th>Puntuación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let note of notes">
                    <td>{{ note.title }}</td>
                    <td>{{ note.score }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="assignments.length > 0">
            
            <table class="table custom-full-bordered-table">
              <thead>
                <tr>
                  <th>Nombre de la Asignación</th>
                  <th>Puntuación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let assignment of assignments">
                  <td>{{ getAssignmentName(assignment.assignmentId) }}</td>
                  <td>
                    <ng-container *ngIf="assignment.id !== undefined; else noGrade">
                      {{ assignmentGrades[assignment.id] }}
                    </ng-container>
                    <ng-template #noGrade>Sin calificación</ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="assignments.length === 0 && selectedGroupId">
            <div class="no-assignments-message">
              No hay asignaciones para este grupo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>