<nav class="navbar navbar-expand-lg navbar-dark elegant-navbar">
    <div class="container-fluid justify-content-center">
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center gap-2 flex-wrap">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/app/dashboard" routerLinkActive="active">
                        <i class="fas fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>

                @for (route of allowedRoutes; track route.path) {
                    @if (route.data?.showInSidebar && route.path !== 'dashboard') {
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/app/' + route.path" routerLinkActive="active">
                                <i *ngIf="route.data?.icon" class="{{route.data.icon}}"></i>
                                <span>{{ route.data?.name || route.path }}</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
