<nav class="navbar navbar-expand bg-white shadow-sm align-items-center d-block">
  <div class="container-fluid px-2 px-md-5">
    <!-- Logo and Brand -->
    <a class="navbar-brand d-flex align-items-center py-1" routerLink="/"
      style="gap: 12px; min-width: 0; cursor: pointer;">
      <img src="assets/icons/EduSmartIcon.png" alt="Logo" class="img-fluid" />
      <span>
        EduSmart
      </span>
    </a>
    <!-- Right side: Profile/Account -->
    <div class="d-flex align-items-center ms-auto">
      <app-my-account></app-my-account>
    </div>
  </div>
</nav>