<div class="row p-4">
    <div class="col-12 mb-3">
        <h2 class="title-highlight">Mis Medallas</h2>
    </div>

    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <button (click)="goBack()" type="button" class="btn custom-add-full-btn">
                <i class="fas fa-arrow-left me-2"></i> Volver
            </button>
        </div>
    </div>

    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-body">
                <section class="medals-section">
                    <div class="medals-list">
                        <ng-container *ngFor="let medal of medals">
                            <div
                                    (click)="medal.id !== undefined && isUnlocked(medal.id) ? openModal(medal) : null"
                                    class="medal-item"
                            >
                                <ng-container *ngIf="medal.id !== undefined && isUnlocked(medal.id); else lockedMedal">
                                    <img
                                            [alt]="medal.title"
                                            [src]="medal.iconUrl"
                                            class="medal-img unlocked-spin"
                                    />
                                    <div class="medal-name">{{ medal.title }}</div>
                                </ng-container>
                                <ng-template #lockedMedal>
                                    <img
                                            alt="Medalla bloqueada"
                                            class="medal-img locked"
                                            src="assets/img/Lock.png"
                                    />
                                    <div class="medal-name">Bloqueado</div>
                                </ng-template>
                            </div>
                        </ng-container>
                    </div>
                </section>

                <app-pagination
                        *ngIf="medals.length > 0"
                        [loadFunction]="badgeService.getAll.bind(badgeService)"
                        [service]="badgeService.search"
                ></app-pagination>
            </div>
        </div>
    </div>

    <div (click)="closeModal()" *ngIf="showModal" class="modal-backdrop"></div>

    <div *ngIf="showModal && selectedBadge" class="modal-badge">
        <button (click)="closeModal()" class="close-btn">×</button>
        <div class="insignia-decor" style="position: relative;">
            <div class="medal-ribbon"></div>
            <img
                    [alt]="selectedBadge.title"
                    [src]="selectedBadge.iconUrl"
                    class="modal-img"
            />
        </div>
        <div class="modal-title">{{ selectedBadge.title }}</div>
        <div class="modal-description">{{ selectedBadge.description }}</div>
    </div>
</div>
