<div class="card">
    <div class="card-header card-header-indigo">
        <h2 class="mb-0">Lista de Medallas</h2>
    </div>
    <div class="card-body">
        <p class="text-muted mb-3">
            Selecciona una medalla para editar o eliminar.
        </p>

        <div class="mb-4 mt-2">
            <input
                    [(ngModel)]="searchText"
                    class="input-txt input-filter"
                    placeholder="Filtrar medallas por título o descripción..."
                    type="text"
            />
        </div>

        <div class="table-container table-responsive">
            <table class="table custom-full-bordered-table">
                <thead class="table-header-gray">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Icono</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let badge of filteredBadges; trackBy: trackById">
                    <td>{{ badge.title }}</td>
                    <td>{{ badge.description }}</td>
                    <td>
                        <img
                                (click)="badge.iconUrl && openImageModal(badge.iconUrl)"
                                [src]="badge.iconUrl"
                                alt="Icono"
                                class="badge-icon"
                                style="cursor: pointer"
                        />
                    </td>
                    <td class="text-center">
                        <button
                                (click)="callModalAction.emit(badge)"
                                class="btn border-0 me-2 icon-gray-color"
                                title="Editar insignia"
                                type="button"
                        >
                            <i class="fas fa-pen"></i>
                        </button>
                        <button
                                (click)="openConfirmationModal(badge)"
                                class="btn border-0 icon-gray-color"
                                title="Eliminar insignia"
                                type="button"
                        >
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="filteredBadges.length === 0">
                    <td class="text-center" colspan="4">No hay medallas</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-confirm-modal
    #confirmDeleteModal
    (confirmed)="deleteConfirmation()"
    [cancelText]="'Cancelar'"
    [confirmText]="'Eliminar'"
    [message]="
    '¿Estás seguro de que deseas eliminar la insignia ' +
    deleteBadge?.title +
    '?'
  "
></app-confirm-modal>

<!-- Modal para imagen ampliada -->
<div
        (click)="closeImageModal()"
        *ngIf="enlargedImageUrl"
        class="image-modal-backdrop"
>
    <div (click)="$event.stopPropagation()" class="image-modal-content">
        <img [src]="enlargedImageUrl" alt="Imagen ampliada"/>
        <button (click)="closeImageModal()" class="close-btn">×</button>
    </div>
</div>
