<header class="nav-menu">
    <div class="nav-content">
    <span (click)="goToLanding()" class="logo-title" style="cursor:pointer;">
      <img alt="Logo NovaSoft" class="logo-img" src="assets/img/logo.png"/>
      NovaSoft
    </span>
    </div>
</header>

<app-custom-topbar></app-custom-topbar>
<div class="landing-container two-columns">
  <section
    class="right-section"
    style="background: url('assets/img/Intro.png') no-repeat right center; background-size: 80% auto;"
  >
  </section>    
  
  <section class="left-section">
    <div class="text-box">
        <img src="assets/icons/EduSmartIcon.png"  class="logo-img" style="display:block; margin: 0 auto 2rem auto; max-width:120px;" />
      <h2>EduSmart</h2>
      <p>
        EduSmart es una plataforma web educativa e interactiva dirigida a estudiantes de primaria y secundaria en Costa Rica. Su finalidad es enriquecer el aprendizaje de la historia nacional mediante un enfoque lúdico, inmersivo y adaptativo que responda a los estilos y ritmos de aprendizaje de cada estudiante.
      </p>
      <p>
       EduSmart se estructura como un entorno interactivo que articula contenidos curriculares con dinámicas narrativas y de juego, adaptándose al perfil y progreso de cada estudiante mediante cuentos animados, narraciones con voces humanas o sintéticas, cuestionarios interactivos y componentes de gamificación
      </p>
      <button class="custom-add-full-btn" (click)="goToHome()">Demostración</button>
      <h3>Convierte el aprendizaje en una aventura!</h3>
      
    </div>
  </section>

  

</div>
