<app-custom-topbar></app-custom-topbar>
<div class="landing-container two-columns">
  <section class="left-section">
    <iframe
      src="https://lottie.host/embed/b3864dfe-a6c3-4e87-bd5e-cf043b4cb0b1/GR34y4V8JT.json"
      style="background-size: cover; width: 100%; height: 100%; border: none"
    ></iframe>
  </section>

  <section class="center-section">
    <div class="text-box">
      <img
        src="assets/icons/EduSmartIcon.png"
        class="logo-img"
        style="display: block; margin: 0 auto 2rem auto; max-width: 120px"
      />
      <h2>EduSmart</h2>
      <p>
        EduSmart es una plataforma web educativa e interactiva dirigida a
        estudiantes de primaria y secundaria en Costa Rica. Su finalidad es
        enriquecer el aprendizaje de la historia nacional mediante un enfoque
        lúdico, inmersivo y adaptativo que responda a los estilos y ritmos de
        aprendizaje de cada estudiante.
      </p>
      <p>
        EduSmart se estructura como un entorno interactivo que articula
        contenidos curriculares con dinámicas narrativas y de juego, adaptándose
        al perfil y progreso de cada estudiante mediante cuentos animados,
        narraciones con voces humanas o sintéticas, cuestionarios interactivos y
        componentes de gamificación
      </p>
      <button class="btn-primary" (click)="goToHome()">Demostración</button>
      <h3>¡Convierte el aprendizaje en una aventura!</h3>
    </div>
  </section>
  <section class="right-section">
    <iframe
      src="https://lottie.host/embed/5698ae58-4b46-479b-9303-cdcde5a0cbe6/TAOzxT1cj7.json"
      style="background-size: cover; width: 100%; height: 100%; border: none"
    ></iframe>
  </section>
</div>
