<div class="d-flex align-items-center justify-content-between my-3">
    <nav aria-label="pagination-prev" class="ms-0">
        <ul class="pagination custom-pagination-buttons mb-0">
            <li class="page-item">
                <button
                        (click)="onPage((service?.pageNumber || 1) - 1)"
                        [disabled]="(service?.pageNumber || 1) === 1"
                        class="page-link"
                >
                    <i class="fas fa-arrow-left"></i>&nbsp;Atrás </button>
            </li>
        </ul>
    </nav>

    <nav aria-label="pagination-next" class="me-0">
        <ul class="pagination custom-pagination-buttons mb-0">
            <li class="page-item">
                <button
                        (click)="onPage((service?.pageNumber || 1) + 1)"
                        [disabled]="(service?.pageNumber || 1) === (service?.totalPages || 1)"
                        class="page-link"
                >
                    Siguiente&nbsp;<i class="fas fa-arrow-right"></i> </button>
            </li>
        </ul>
    </nav>
</div>