<div class="d-flex align-items-center justify-content-between my-3">

    <nav aria-label="pagination-prev" class="ms-0">
        <ul class="pagination custom-pagination-buttons mb-0">
            <li class="page-item">
                <button
                        (click)="onPage((service?.pageNumber || 1) - 1)"
                        [disabled]="(service?.pageNumber || 1) === 1"
                        class="page-link">
                    <i class="fas fa-arrow-left"></i>&nbsp;Atrás
                </button>
            </li>
        </ul>
    </nav>

    <div class="d-flex align-items-center justify-content-center gap-3 flex-grow-1 mx-3">

        <div class="text-muted">
            Página {{ service?.pageNumber || 1 }} de {{ service?.totalPages || 1 }}
        </div>

        <div class="go-to-page-container d-flex align-items-center">
            <label class="me-2 mb-0" for="pageInput">Ir a página:</label>
            <input
                    (keyup.enter)="goToPage()"
                    [(ngModel)]="pageInput"
                    [max]="service?.totalPages || 1"
                    class="form-control form-control-sm"
                    id="pageInput"
                    min="1"
                    style="width: 70px;"
                    type="number"
            />
            <button (click)="goToPage()" class="btn btn-sm btn-primary ms-2">Ir</button>
        </div>

    </div>

    <nav aria-label="pagination-next" class="me-0">
        <ul class="pagination custom-pagination-buttons mb-0">
            <li class="page-item">
                <button
                        (click)="onPage((service?.pageNumber || 1) + 1)"
                        [disabled]="(service?.pageNumber || 1) === (service?.totalPages || 1)"
                        class="page-link">
                    Siguiente&nbsp;<i class="fas fa-arrow-right"></i>
                </button>
            </li>
        </ul>
    </nav>

</div>
