<div class="card">
    <div class="card-header card-header-indigo">
        <h2 class="mb-0">Lista de Escuelas</h2>
    </div>
    <div class="card-body">
        <p class="text-muted mb-3">
            Si deseas ver o agregar docentes para una escuela, selecciona su nombre en la tabla.
        </p>

        <div class="mb-4 mt-2">
            <input
                    type="text"
                    class="input-txt input-filter"
                    placeholder="Filtrar escuelas por nombre o dominio..."
                    [(ngModel)]="searchText"
            />
        </div>


        <div class="table-container table-responsive">
            <table class="table custom-full-bordered-table">
                <thead class="table-header-gray">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dominio</th>
                    <th scope="col">Fecha de creación</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    @for (item of filteredSchools; track item.id) {
                        <tr>
                            <td>
                                <a
                                        [routerLink]="['../teachers']"
                                        [queryParams]="{ schoolId: item.id }"
                                        class="no-link-style"
                                >
                                    {{ item.name }}
                                </a>
                            </td>
                            <td>{{ item.domain }}</td>
                            <td>{{ item.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td class="text-center">
                                <button
                                        [disabled]="item.domain === 'DEFAULT'"
                                        [attr.title]="item.domain === 'DEFAULT' ? 'Esta escuela no se puede editar' : null"
                                        (click)="callModalAction.emit(item);"
                                        class="btn border-0 me-2 icon-gray-color"
                                        type="button"
                                >
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button
                                        [disabled]="item.domain === 'DEFAULT'"
                                        [attr.title]="item.domain === 'DEFAULT' ? 'Esta escuela no se puede eliminar' : null"
                                        (click)="openConfirmationModal(item)"
                                        class="btn border-0 icon-gray-color"
                                        type="button"
                                >
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    } @empty {
                        <tr>
                            <td colspan="4">
                                <div class="d-flex justify-content-center align-items-center w-100">
                                    <p class="mb-0">No hay escuelas</p>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-confirm-modal
    #confirmDeleteModal
    [message]="'¿Estás seguro de que deseas eliminar la escuela ' + deleteSchool?.name + '?'"
    [confirmText]="'Eliminar'"
    [cancelText]="'Cancelar'"
    (confirmed)="deleteConfirmation()"
>
</app-confirm-modal>
