<div class="ltr">
    <div class="page-wrapper compact-wrapper">
        <app-topbar></app-topbar>

        <div class="page-body-wrapper">
            <div 
                class="sidebar-wrapper" 
                sidebar-layout="default-sidebar" 
                icon="stroke-svg"
                [ngClass]="{ close_icon: !layoutService.sidebarOpen }"
            >
                <app-sidebar></app-sidebar>
            </div>

            <div class="page-body">
                <main class="container-fluid">
                    <router-outlet></router-outlet>
                </main>
            </div>

            <footer class="footer">
                <app-footer></app-footer>
            </footer>
        </div>
    </div>
</div>

<!-- Overlay para móviles -->
<div 
    class="bg-overlay" 
    [ngClass]="{ active: layoutService.sidebarOpen }"
    (click)="layoutService.toggleSidebar()"
></div>