<app-topbar></app-topbar>

<section class="landing-hero d-flex align-items-center justify-content-center text-center py-4 py-md-5">
    <div class="container-banner position-relative">
        <h1 class=" fw-bold mb-3 banner-title">
            EduSmart
        </h1>
        <p class="lead mb-4 banner-text">
            Descubre, aprende y explora el fascinante mundo de la Historia de Costa Rica con nuestra plataforma
            educativa interactiva.
        </p>
        <a href="/signup" class="btn btn-primary btn-lg px-5 py-3 btn-register">
            Regístrate
        </a>
    </div>
</section>

<section class="py-4 py-md-5 ">
    <div class="container var">
        <h2 class="fw-bold text-center mb-4 mb-md-5"
            style="color: var(--color-indigo-dye); font-size:clamp(1.3rem,4vw,2.2rem);">¡La historia de Costa Rica,
            narrada como nunca antes!</h2>
        <app-benefits></app-benefits>
    </div>
</section>
<app-footer></app-footer>