<app-topbar></app-topbar>
<div
  class="container min-vh-100 d-flex align-items-center justify-content-center py-4"
>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <div
      class="login-card p-4 shadow rounded-4"
      style="max-width: 400px; width: 100%; background: #fff"
    >
      <form
        (ngSubmit)="handlePasswordRecovery($event)"
        autocomplete="off"
        #frm="ngForm"
      >
        <h2 class="fw-bold mb-2 text-center" style="font-size: 2.2rem">
          Recuperar Contraseña
        </h2>
        <p class="mb-4 text-center" style="color: #555; font-size: 1.1rem">
          Ingrese su dirección de correo electrónico para recibir instrucciones
          sobre cómo recuperar su contraseña.
        </p>

        <div class="mb-3">
          <label for="email" class="form-label fw-semibold"
            >Correo Electrónico</label
          >
          <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
              <i class="bi bi-envelope"></i>
            </span>
            <input
              #email="ngModel"
              type="email"
              class="form-control border-start-0"
              id="email"
              name="email"
              placeholder="email@address.com"
              [(ngModel)]="recoveryForm.email"
              required
              email
              style="font-size: 1.15rem"
            />
          </div>
          @if (email.invalid && (email.dirty || email.touched)) {
          <div class="text-danger mt-1" style="font-size: 0.95rem">
            @if (email.errors?.['required']) {
            <div>El correo electrónico es obligatorio.</div>
            } @if (email.errors?.['email']) {
            <div>El correo electrónico no es válido.</div>
            }
          </div>
          }
        </div>

        <button
          class="btn btn-primary w-100 py-2 mb-3"
          style="font-size: 1.2rem; font-weight: 700"
          type="submit"
          [disabled]="frm.invalid"
        >
          Recuperar Contraseña
        </button>

        <div class="d-flex align-items-center my-3">
          <hr class="flex-grow-1" />
          <span class="mx-2 text-muted">o</span>
          <hr class="flex-grow-1" />
        </div>
      </form>
    </div>
  </main>
</div>
<ng-template #infoModal>
  <div class="text-center p-4">
    <h2 class="mb-3">Recuperación de Contraseña</h2>
    <p>
      Si existe un usuario asociado a este correo, se enviará un correo con
      instrucciones de restablecimiento de contraseña.
    </p>
    <button class="btn btn-primary mt-3 w-100" (click)="closeInfoModal()">
      Aceptar
    </button>
  </div>
</ng-template>
<app-footer></app-footer>
