<form  [formGroup]="form" class="mb-4" style="max-width: 400px; margin: 0 auto">
  <div class="mb-3 text-center">
    <h2
      style="
        font-size: var(--font-h2-size);
        font-weight: var(--font-h2-weight);
        color: var(--color-indigo-dye);
      "
    >
      Registrar Estudiante
    </h2>
  </div>

  <div class="mb-3">
    <label class="mb-1" for="name"
      >Nombre<span class="required-asterisk">*</span></label
    >
    <input
      id="name"
      formControlName="name"
      type="text"
      class="form-control normal"
      placeholder="Ej: Juan"
    />

    @if (form.controls['name'].invalid && (form.controls['name'].dirty ||
    form.controls['name'].touched)) {
    <div class="form-error-message">El nombre es obligatorio.</div>
    }
  </div>

  <div class="mb-3">
    <label class="mb-1" for="lastname"
      >Apellido<span class="required-asterisk">*</span></label
    >
    <input
      id="lastname"
      formControlName="lastname"
      type="text"
      class="form-control normal"
      placeholder="Ej: Pérez"
    />

    @if (form.controls['lastname'].invalid && (form.controls['lastname'].dirty
    || form.controls['lastname'].touched)) {
    <div class="form-error-message">El apellido es obligatorio.</div>
    }
  </div>

  <div class="mb-3">
    <label class="mb-1" for="email"
      >Correo electrónico<span class="required-asterisk">*</span></label
    >
    <input
      id="email"
      formControlName="email"
      type="email"
      class="form-control normal"
      placeholder="Ej: correo@ejemplo.com"
    />

    @if (form.controls['email'].invalid && (form.controls['email'].dirty ||
    form.controls['email'].touched)) {
    <div class="form-error-message">
      El correo es obligatorio y debe ser válido.
    </div>
    }
  </div>

  <div class="text-center mt-4">
    <button
      (click)="callSave()"
      [disabled]="form.invalid"
      class="btn btn-primary"
      type="button"
    >
      Guardar
    </button>
  </div>
</form>
