@if(userName) {
<div class="dropdown">
  <a class="d-flex align-items-center text-decoration-none dropdown-toggle px-2 px-md-3 py-1 py-md-2" href="#"
    id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false"
    style="cursor:pointer; font-size: 1rem; color: var(--color-indigo-dye); border-radius: 16px; min-width: 0; height: 40px;">
    <i class="fa-regular fa-user me-2" style="font-size: 1.1rem;"></i>
    <span class="fw-semibold text-truncate" style="max-width: 90px;">{{ userName }}</span>
  </a>
  <!-- TODO: Menu will change -->
  <ul class="dropdown-menu dropdown-menu-end mt-2 shadow" aria-labelledby="accountDropdown">
    <li>
      <a class="dropdown-item d-flex align-items-center" routerLink="profile">
        <i class="fa-solid fa-user-tie me-2"></i>
        <span>Perfil</span>
      </a>
    </li>
    <li>
      <button class="dropdown-item d-flex align-items-center" (click)="logout()" type="button">
        <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
        <span>Cerrar sesión</span>
      </button>
    </li>
  </ul>
</div>
}
@else {
<a class="btn btn-primary d-flex align-items-center px-2 px-md-3 py-1 py-md-2" routerLink="/login"
  style="font-size: 1rem; border-radius: 16px; min-width: 0; height: 40px;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
  <i class="fa-regular fa-user me-2" style="font-size: 1.1rem;"></i>
  <span class="text-truncate">Iniciar sesión</span>
</a>
}